<% provide(:title, "Attendance") %>
<h1>Title: <%= "#{@session.section.course.crn} #{@session.section.course.title}"%></h1>
<h2>Section: <%= @session.section_id %></h2>
<h2>Attendance for <%= @session.date %></h2> 
<%= link_to "Back to section view", section_path(@session.section), class: "btn btn-primary" %>



<ol>
<%=form_for @session do |f|%>
    
<!--need to configure checkboxes-->
     <!--f.collection_check_boxes :student_ids, @session.students, :id, :full_name, :include_hidden => false, checked: false%>-->
     <% @session.students.each do |student| %>
     
         
         <li>
         <%= student.full_name %>
         <!--make the boxes align...-->
         <%= f.check_box(:student_ids,{multiple: true, :checked => student.present_at?(@session)}, student.id, ) %>
         <!--include hidden removes the empty string, but if nothing is enteres, the session parm doesnt get passed-->
          <!--f.check_box(:student_ids,{multiple: true,:include_hidden => false, :checked => student.present_at?(@session)}, student.id, ) %>-->
     
     </li>
     
     <% end %>
     <% if @session.students.empty? %>
     <%= "No students currently enrolled"%>
     <% else %>
    <%= f.submit "go", class: "btn btn-primary" %>
    <% end%>
<% end %>

</ol>