<% provide(:title, "Add a new Student") %>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= form_for @student do |f| %>
        <%= render 'shared/errors', object: f.object %>
        
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control'%>
            
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
            
            <%= f.submit "Add Student", class: "btn btn-primary" %>
        <% end %>
    </div>

</div>