<% provide(:title, "Section detail") %>


<h1>Title: <%= "#{@section.course.crn} #{@section.course.title}"%></h1>

<%= form_tag(section_path(@section), method: "patch") do %>

    <% Student.where.not(id: @section.course.students.ids).each do |student| %>
        <%= check_box_tag "student_ids[]", student.id %> <%="#{student.first_name} #{student.last_name}" %>
    <% end %>
    <%= submit_tag "Add students" %>
<% end %>
