<% provide(:title, "Section detail") %>
<h1>Title: <%= "#{@section.course.crn} #{@section.course.title}"%></h1>
<h2>Section: <%= @section.id %></h2>
<!--data can be retrieved in the controller using params[:section]-->
<h2>Attendance for <%= link_to Date.today, new_session_path(section: @section, date: Date.today) %></h2>

<br>Enrolled students: <ul><% @section.students.each do |student|%>
                <li><%= "#{student.first_name} #{student.last_name} "%></li>
                <% end %>
                
                </ul>

</br>

<%= link_to "Edit students in section", edit_section_path(@section) %>
    