<% provide(:title, "Course detail") %>

<h1>Course: <%= @course.crn %></h1>

<br>Title: <%= @course.title%></br>
Sections: <% @course.sections.each do |section| %>
            <br><%= section.id %>
            <%end %>
            
<!--<%= button_to "Delete", {:controller => :courses, :action => 'destroy', :id => @course.id}, :method => :delete, data: {confirm: "Are you sure?"} %>-->
<%= button_to "Delete", @course, :method => :delete, class: 'btn btn-primary', data: {confirm: "Deleting this course will delete all subsequent sections, are you sure?"} %>
    