<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Home", root_url, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "View courses", "#" %></li>
                <!--<li><%= link_to "Add a course", "#" %></li>-->
                <!--<li><%= link_to "Add a student", "#" %></li>-->
                <li><%= link_to "Login", "#" %></li>
            </ul>
        </nav>
    </div>
</header>